<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="icon"
          href="https://images.unsplash.com/photo-1587131766835-e5dfaf70ea20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">
</head>

<body>

<div sec:authorize="isAnonymous()">
    <div th:replace="fragment/navbar :: navbarforall"></div>
</div>
<div sec:authorize="isAuthenticated()">
    <div th:replace="fragment/navbar :: navbarforuser(${session.user})"></div>
</div>


<!--				<div class="swiper-slide" >-->
<!--					<image th:src="@{'/resources/sliderimages/'+${abc}}"/>-->
<!--				</div>-->
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
<!--            <div class="swiper-slide" th:each="abc : ${obj}">-->
<!--                <img th:src="@{'/resources/sliderimages/'+${abc}}" style="  width: 100%; height: 100%; object-fit: cover;">-->
<!--            </div>-->
            <div class="swiper-slide">
                <img th:src="@{'/resources/sliderimages/1.jfif'}" style="  width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="swiper-slide">
                <img th:src="@{'/resources/sliderimages/2.jfif'}" style="  width: 100%; height: 100%; object-fit: cover;">
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Features</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla.
                Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
                laoreet vitae.</p>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Works everywhere</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo
                        in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    <a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo
                        in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    <a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo
                        in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    <a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-leaf icon"></i>
                    <h3 class="name">Organic</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo
                        in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    <a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-plane icon"></i>
                    <h3 class="name">Fast</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo
                        in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    <a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-phone icon"></i>
                    <h3 class="name">Mobile-first</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo
                        in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    <a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="intro">
                    <h2>Highlight</h2>
                    <p>Nunc luctus in metus eget fringilla. Aliquam sed justo
                        ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.
                        Aliqua sed justo ligula.</p>
                    <a class="btn btn-primary" role="button" href="#">Action
                        Button</a>
                </div>
            </div>
            <div class="col-sm-4" style="filter: hue-rotate(0deg);">
                <div class="d-none d-md-block iphone-mockup"
                     style="filter: invert(0%);">
                    <img class="device" th:src="@{/resources/certificate/sample.png}" style="  width: 100%;
  height: 100%;
  object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials</h2>
            <p class="text-center">Our customers love us! Read what they
                have to say below. Aliquam sed justo ligula. Vestibulum nibh erat,
                pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Aenean tortor est, vulputate quis leo
                        in, vehicula rhoncus lacus. Praesent aliquam in tellus eu
                        gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle"
                         src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80">
                    <h5 class="name">Ben Johnson</h5>
                    <p class="title">CEO of Company Inc.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Praesent aliquam in tellus eu gravida.
                        Aliquam varius finibus est, et interdum justo suscipit id.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle"
                         src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=941&amp;q=80">
                    <h5 class="name">Carl Kent</h5>
                    <p class="title">Founder of Style Co.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Aliquam varius finibus est, et interdum
                        justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus.
                        Praesent aliquam in tellus eu.</p>
                </div>
                <div class="author">
                    <img class="rounded-circle"
                         src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80">
                    <h5 class="name">Emily Clark</h5>
                    <p class="title">Owner of Creative Ltd.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="projects-horizontal">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Projects</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla.
                Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
                laoreet vitae.</p>
        </div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <a href="#"><img class="img-fluid"
                                         src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"></a>
                    </div>
                    <div class="col">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo
                            in, vehicula rhoncus lacus. Praesent aliquam in tellus eu
                            gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <a href="#"><img class="img-fluid"
                                         src="https://images.unsplash.com/photo-1572177812156-58036aae439c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"></a>
                    </div>
                    <div class="col">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo
                            in, vehicula rhoncus lacus. Praesent aliquam in tellus eu
                            gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <a href="#"><img class="img-fluid"
                                         src="https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"></a>
                    </div>
                    <div class="col">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo
                            in, vehicula rhoncus lacus. Praesent aliquam in tellus eu
                            gravida.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <a href="#"><img class="img-fluid"
                                         src="https://images.unsplash.com/photo-1569098644584-210bcd375b59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"></a>
                    </div>
                    <div class="col">
                        <h3 class="name">Project Name</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo
                            in, vehicula rhoncus lacus. Praesent aliquam in tellus eu
                            gravida.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Subscribe for our Newsletter</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla.
                Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
                laoreet vitae.</p>
        </div>
        <form class="form-inline" method="post" th:action="@{/subscribeemail}">
            <div class="form-group">
                <input class="form-control" type="email" name="email"
                       placeholder="Your Email">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragment/footer :: footerforall"></div>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script th:src="@{/assets/js/script.min.js}"></script>
</body>

</html>